<div class="container">
  <img src="assets/sign-in.png" alt="">
  <h1>Customer App</h1>
  <p>Welcome! <br>
    Please enter your login credentials to sign in.
  </p>
  <form [formGroup]="customerForm" #cform="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="txt-username">Username</label>
      <input formControlName="username" id="txt-username" type="text" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="txt-password">Password</label>
      <input formControlName="password" id="txt-password" type="text" placeholder="Enter password">
    </div>
    <div class="form-group">
      <button class="sign-in">Sign In</button>
    </div>
  </form>
</div>
